#email{
  padding: 50px;
  margin-top: 50px;
  width: 500px;
  border: 2px solid black;
  box-sizing: border-box;
}
#confidential, #top-secret{
  display: inline-block;
padding: 2px;
margin-left:2px;
border: 2px solid red;
}
#confidential{
  transform: rotate(30deg);
  margin-bottom: 5px;
}
#top-secret{
  transform: rotate(-30deg);
  margin-left: 100px;
}
.blurred{
  filter: blur(3px);
}