.form-container{
  background-color:hsl(220, 30%, 85%);
  width: 80vw;
  border-radius: 10px;
  padding: 2em;
  margin: auto;

}
label{
  margin: 2px 0 0 0;
  color: hsl(220,30%,20%);
}
input, textarea{
  display: block;
  width: 80%;
  padding: 2px 1px;
  margin:15px;
  
}
button{
  background-color:hsl(220, 30%, 70%); 
  font-size: 0.8em;
}
button:hover{
  background-color: hsl(60, 60%, 80%)
}
h2{
  text-align: center;
}
